h1{
    font-size: 78px;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top:145px;
    font-family: 'Fraunces', serif;
}

.profile-card{
    width:500px;
    height: 750px;
    margin: 0 auto;
    background-color:white;
    border-radius: 8px;
}